body{
    background-color: Thistle;
}
div{
    background-image: linear-gradient(to top, MistyRose, BlanchedAlmond, SandyBrown);
    width: 1000px;
    height: 500px;
    margin: auto;
    margin-top: 100px;
}
img{
    width: 400px;
    height: 400px;
    border-radius: 50px;
    margin: 40px;
}

