body{
    background-color: lightgrey;
}

.main{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    margin: auto;
    border: 1px solid black;
    padding: 10px;
    justify-content: space-around;
    align-items:flex-start;
}


.menu{
    border: 1px solid black;
    min-width: 150px;
    background-color: grey;
}

.menu_list{
    padding-left: 10px;
}

.menu_list> li{
    list-style: none;
}

.menu_list a{
    text-decoration: none;
    color: black;
}

.menu_list>li>ol{
    padding-left: 10px;
}

.menu_list>li>ol>li{
    background-color: burlywood;
    font-style: italic;
    padding: 5px;
}

.menu_list>li>a{
    background-color: chocolate;
    padding: 5px;
}

@media(max-width:560px){
    .sub-menu_list{
        display: none;
    }

    .menu_list>li:hover .sub-menu_list{
        display: block;
    }
}

.video{
    height: 200px;
    width: 200px;
}

.video-content{
    height: 200px;
    width: 200px;
}
