p:first-letter{ 
    font-weight: bold;
    font-size: 45px;
    color: white;
    background-color: hsl(275, 100%, 10%, 1);
}
@font-face  {
    src: url('fonts/Caveat.ttf');
    font-family: Carveat;
}

h1{
font-family: Carveat, sans-serif;
margin-bottom: 0px;
font-size: 45px;
text-align: center;
font-weight: bold;
text-transform: lowercase;
text-shadow: lightcoral 10px 5px 4px ;

}

@font-face {
    font-family:Exo2 ;
    src: url('fonts/Exo2.ttf');
}

h2{
    font-family: Exo2, sans-serif;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 1.2em;
    margin-top: 0.2rem;
    text-indent: 25px;
    text-align: left;
}

@font-face {
    font-family: Comfortaa ;
    src: url('fonts/Comfortaa.ttf');
}

p{

    font-family: Comfortaa, sans-serif ;
    text-indent: 25px;
    text-align:justify;
    font-size: 20px;
    padding: 0px;
    margin-bottom:0px ;
    margin-top:0px ;
    line-height: 200%;
}

.ol{
 color: blue;
 margin-top: 0px;
 padding-top: 0px;
}

.li{
    color :black;
    font-family: Comfortaa, sans-serif ;
    font-size: 20px;
}

#sp{
margin-bottom: 0px;
padding-bottom: 0px;
}